.tree .leaf:nth-of-type(7n) {
  animation: leaf-grow 2s 1s ease-out backwards;
  transform-origin: 50% 100%;
}

.tree .leaf:nth-of-type(5n) {
  animation: leaf-grow 2s 1.5s ease-out backwards;
  transform-origin: 50% 100%;
}

.tree .leaf {
  animation: leaf-grow 2s 2s ease-out backwards;
  transform-origin: 50% 100%;
}

@keyframes leaf-grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}
